<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wll.bus.mapper.GoodsMapper">

    <!-- 根据商品id删除商品销售信息 -->
    <delete id="deleteSaleByGoodsId">
        delete from bus_sales where goodsid = #{goodsid}
    </delete>

    <!-- 根据商品id删除商品销售退货信息 -->
    <delete id="deleteSaleBackByGoodsId">
        delete from bus_salesback where goodsid = #{goodsid}
    </delete>

    <!-- 根据商品id删除商品进货信息 -->
    <delete id="deleteInportByGoodsId">
        delete from bus_inport where goodsid = #{goodsid}
    </delete>

    <!-- 根据商品id删除商品退货信息 -->
    <delete id="deleteOutportByGoodsId">
        delete from bus_outport where goodsid = #{goodsid}
    </delete>

    <!-- 根据客户id删除商品销售 -->
    <delete id="deleteSaleByCustomerId">
        delete from bus_sales where customerid = #{customerid}
    </delete>

    <!-- 根据客户id删除商品销售退货信息 -->
    <delete id="deleteSaleBackByCustomerId">
        delete from bus_salesback where customerid = #{customerid}
    </delete>

    <!--查询所有库存预警商品-->
    <select id="loadAllWarning" resultType="com.wll.bus.vo.GoodsVo">
        SELECT
        bp.providername as "providername",
        bg.providerid as "providerid",
        bg.id as id,
        bg.available as "available",
        bg.dangernum as "dangernum",
        bg.number as "number",
        bg.description as "description",
        bg.goodsname as "goodsname",
        bg.price as "price",
        bg.goodsimg as "goodsimg",
        bg.goodspackage as "goodspackage",
        bg.produceplace as "produceplace",
        bg.productcode as "productcode",
        bg.promitcode as "promitcode",
        bg.size as size,
        bg.tenant_id as "tenantId"
        FROM bus_goods bg INNER JOIN bus_provider bp ON bp.id = bg.providerid
        where <![CDATA[ bg.number <= bg.dangernum ]]> and bg.available = 1
        <if test="tenantId != 0 ">
            and bg.tenant_id = #{tenantId}
        </if>
    </select>

    <select id="loadAllGoodsByCondition" resultType="com.wll.bus.vo.GoodsVo">
        SELECT
        bp.providername as "providername",
        bg.providerid as "providerid",
        bg.id as id,
        bg.available as "available",
        bg.dangernum as "dangernum",
        bg.number as "number",
        bg.description as "description",
        bg.goodsname as "goodsname",
        bg.price as "price",
        bg.goodsimg as "goodsimg",
        bg.goodspackage as "goodspackage",
        bg.produceplace as "produceplace",
        bg.productcode as "productcode",
        bg.promitcode as "promitcode",
        bg.size as size,
        bg.tenant_id as "tenantId"
        FROM bus_goods bg INNER JOIN bus_provider bp ON bp.id = bg.providerid
        where bg.available = 1
        <if test="goodsVo.providerid != null and goodsVo.providerid != 0 ">
            and bg.providerid = #{goodsVo.providerid}
        </if>
        <if test="goodsVo.goodsname != null ">
            and bg.goodsname like concat(concat("%",#{goodsVo.goodsname},"%"))
        </if>
        <if test="goodsVo.tenantId != null and goodsVo.tenantId != 0  ">
            and bg.tenant_id = #{goodsVo.tenantId}
        </if>
        <if test="goodsVo.productcode != null">
            and bg.productcode like concat(concat("%",#{goodsVo.productcode},"%"))
        </if>
        <if test="goodsVo.promitcode != null">
            and bg.promitcode like concat(concat("%",#{goodsVo.promitcode},"%"))
        </if>
        <if test="goodsVo.description != null">
            and bg.description like concat(concat("%",#{goodsVo.description},"%"))
        </if>
        <if test="goodsVo.size != null">
            and bg.size like concat(concat("%",#{goodsVo.size},"%"))
        </if>
        ORDER BY bg.goodsname
    </select>

    <select id="selectAllGoodsByCondition" resultType="com.wll.bus.vo.GoodsVo">
        SELECT
        bp.providername as "providername",
        bg.providerid as "providerid",
        bg.id as id,
        bg.available as "available",
        bg.dangernum as "dangernum",
        bg.number as "number",
        bg.description as "description",
        bg.goodsname as "goodsname",
        bg.price as "price",
        bg.goodsimg as "goodsimg",
        bg.goodspackage as "goodspackage",
        bg.produceplace as "produceplace",
        bg.productcode as "productcode",
        bg.promitcode as "promitcode",
        bg.size as size,
        bg.tenant_id as "tenantId"
        FROM bus_goods bg INNER JOIN bus_provider bp ON bp.id = bg.providerid
        where bg.available = 1
        <if test="goodsVo.providerid != null and goodsVo.providerid != 0">
            and bg.providerid = #{goodsVo.providerid}
        </if>
        <if test="goodsVo.goodsname != null ">
            and bg.goodsname like concat(concat("%",#{goodsVo.goodsname},"%"))
        </if>
        <if test="goodsVo.tenantId != null and goodsVo.tenantId != 0 ">
            and bg.tenant_id = #{goodsVo.tenantId}
        </if>
        <if test="goodsVo.productcode != null">
            and bg.productcode like concat(concat("%",#{goodsVo.productcode},"%"))
        </if>
        <if test="goodsVo.promitcode != null">
            and bg.promitcode like concat(concat("%",#{goodsVo.promitcode},"%"))
        </if>
        <if test="goodsVo.description != null">
            and bg.description like concat(concat("%",#{goodsVo.description},"%"))
        </if>
        <if test="goodsVo.size != null">
            and bg.size like concat(concat("%",#{goodsVo.size},"%"))
        </if>
        ORDER BY bg.goodsname
    </select>


</mapper>
